# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Tom Solem
	email = tom.solem@eviny.no
	
[push]
	default = current
[gpg]
	program = gpg
[commit]
	gpgsign = true
[tag]
	forceSignAnnotated = true
[init]
	defaultBranch = main
[pull]
	rebase = true
